<a href="https://colab.research.google.com/github/debg48/loan-prediction-django/blob/main/Loan_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Cleaning and Setup

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("/content/loan_approval_dataset.csv")

In [3]:
df

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4264,4265,5,Graduate,Yes,1000000,2300000,12,317,2800000,500000,3300000,800000,Rejected
4265,4266,0,Not Graduate,Yes,3300000,11300000,20,559,4200000,2900000,11000000,1900000,Approved
4266,4267,2,Not Graduate,No,6500000,23900000,18,457,1200000,12400000,18100000,7300000,Rejected
4267,4268,1,Not Graduate,No,4100000,12800000,8,780,8200000,700000,14100000,5800000,Approved
4268,4269,1,Graduate,No,9200000,29700000,10,607,17800000,11800000,35700000,12000000,Approved

In [4]:
df.rename(columns = {' no_of_dependents':'no_of_dependents',' education':'education',' self_employed':'self_employed',' income_annum':'income_annum',' loan_amount':'loan_amount',' loan_term':'loan_term',' cibil_score':'cibil_score',' residential_assets_value':'residential_assets_value',' commercial_assets_value':'commercial_assets_value',' luxury_assets_value':'luxury_assets_value',' bank_asset_value':'bank_asset_value',' loan_status':'loan_status'}, inplace = True)

In [5]:
df

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4264,4265,5,Graduate,Yes,1000000,2300000,12,317,2800000,500000,3300000,800000,Rejected
4265,4266,0,Not Graduate,Yes,3300000,11300000,20,559,4200000,2900000,11000000,1900000,Approved
4266,4267,2,Not Graduate,No,6500000,23900000,18,457,1200000,12400000,18100000,7300000,Rejected
4267,4268,1,Not Graduate,No,4100000,12800000,8,780,8200000,700000,14100000,5800000,Approved
4268,4269,1,Graduate,No,9200000,29700000,10,607,17800000,11800000,35700000,12000000,Approved

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4269 entries, 0 to 4268
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   loan_id                   4269 non-null   int64
 1   no_of_dependents          4269 non-null   int64
 2   education                 4269 non-null   object
 3   self_employed             4269 non-null   object
 4   income_annum              4269 non-null   int64
 5   loan_amount               4269 non-null   int64
 6   loan_term                 4269 non-null   int64
 7   cibil_score               4269 non-null   int64
 8   residential_assets_value  4269 non-null   int64
 9   commercial_assets_value   4269 non-null   int64
 10  luxury_assets_value       4269 non-null   int64
 11  bank_asset_value          4269 non-null   int64
 12  loan_status               4269 non-null   object
dtypes: int64(10), object(3)
memory usage: 433.7+ KB

In [7]:
df.isna().sum()

loan_id                     0
no_of_dependents            0
education                   0
self_employed               0
income_annum                0
loan_amount                 0
loan_term                   0
cibil_score                 0
residential_assets_value    0
commercial_assets_value     0
luxury_assets_value         0
bank_asset_value            0
loan_status                 0
dtype: int64

In [8]:
df.columns

Index(['loan_id', 'no_of_dependents', 'education', 'self_employed',
       'income_annum', 'loan_amount', 'loan_term', 'cibil_score',
       'residential_assets_value', 'commercial_assets_value',
       'luxury_assets_value', 'bank_asset_value', 'loan_status'],
      dtype='object')

In [9]:
numeric_cols = df.select_dtypes(include=np.number).columns.tolist()
categorical_cols = df.select_dtypes(include='object').columns.tolist()

In [10]:
numeric_cols

['loan_id',
 'no_of_dependents',
 'income_annum',
 'loan_amount',
 'loan_term',
 'cibil_score',
 'residential_assets_value',
 'commercial_assets_value',
 'luxury_assets_value',
 'bank_asset_value']

In [11]:
categorical_cols

['education', 'self_employed', 'loan_status']

In [12]:
for cols in categorical_cols:
  print(np.unique(df[cols]))

[' Graduate' ' Not Graduate']
[' No' ' Yes']
[' Approved' ' Rejected']

We can perform label encoding on the catgorical data

In [13]:
from sklearn import preprocessing

In [14]:
label_encoder = preprocessing.LabelEncoder()

In [16]:
df["education"] = label_encoder.fit_transform(df["education"])
df["self_employed"] = label_encoder.fit_transform(df["self_employed"])
df["loan_status"] = label_encoder.fit_transform(df["loan_status"])

In [17]:
df

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,0,0,9600000,29900000,12,778,2400000,17600000,22700000,8000000,0
1,2,0,1,1,4100000,12200000,8,417,2700000,2200000,8800000,3300000,1
2,3,3,0,0,9100000,29700000,20,506,7100000,4500000,33300000,12800000,1
3,4,3,0,0,8200000,30700000,8,467,18200000,3300000,23300000,7900000,1
4,5,5,1,1,9800000,24200000,20,382,12400000,8200000,29400000,5000000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4264,4265,5,0,1,1000000,2300000,12,317,2800000,500000,3300000,800000,1
4265,4266,0,1,1,3300000,11300000,20,559,4200000,2900000,11000000,1900000,0
4266,4267,2,1,0,6500000,23900000,18,457,1200000,12400000,18100000,7300000,1
4267,4268,1,1,0,4100000,12800000,8,780,8200000,700000,14100000,5800000,0
4268,4269,1,0,0,9200000,29700000,10,607,17800000,11800000,35700000,12000000,0

We can now prepare our input and target columns

In [18]:
input_cols=df.columns[1:-1]
input_cols

Index(['no_of_dependents', 'education', 'self_employed', 'income_annum',
       'loan_amount', 'loan_term', 'cibil_score', 'residential_assets_value',
       'commercial_assets_value', 'luxury_assets_value', 'bank_asset_value'],
      dtype='object')

In [19]:
target_col=df.columns[-1]
target_col

'loan_status'

In [20]:
inputs_df=df[input_cols]

In [21]:
targets=df[target_col]

In [22]:
from sklearn.model_selection import train_test_split

train_inputs, val_inputs, train_targets, val_targets = train_test_split(
inputs_df[input_cols], targets, test_size=0.25, random_state=42)

# Model Training

Training a Simple Logistic Regression Model

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
log_model = LogisticRegression()

In [ ]:
%%time
log_model.fit(train_inputs, train_targets)

CPU times: user 23.1 ms, sys: 27.1 ms, total: 50.2 ms
Wall time: 40.3 ms

LogisticRegression()

In [ ]:
log_train_score=log_model.score(train_inputs,train_targets)

In [ ]:
log_val_score = log_model.score(val_inputs,val_targets)

In [ ]:
print('Train Accuracy: {}, Validation Accuracy: {}'.format(log_train_score, log_val_score))

Train Accuracy: 0.6166822867853796, Validation Accuracy: 0.6348314606741573

We will try to get a better score

In [23]:
from sklearn.ensemble import RandomForestClassifier

In [24]:
rf1 = RandomForestClassifier(n_jobs=-1,random_state=42)

In [25]:
%%time
rf1.fit(train_inputs,train_targets)

CPU times: user 550 ms, sys: 24.1 ms, total: 574 ms
Wall time: 391 ms

RandomForestClassifier(n_jobs=-1, random_state=42)

In [26]:
rf1_train_score=rf1.score(train_inputs,train_targets)

In [27]:
rf1_val_score=rf1.score(val_inputs,val_targets)

In [28]:
print('Train Accuracy: {}, Validation Accuracy: {}'.format(rf1_train_score, rf1_val_score))

Train Accuracy: 1.0, Validation Accuracy: 0.9850187265917603

# Saving Model

In [29]:
import pickle

In [30]:
file_name = "rf.pkl"

# save
pickle.dump(rf1, open(file_name, "wb"))

# load
rf_model_loaded = pickle.load(open(file_name, "rb"))

In [31]:
test_preds=rf_model_loaded.predict(val_inputs)

In [32]:
test_target =[i for i in val_targets]

In [33]:
np.array(test_target)

array([1, 0, 1, ..., 0, 1, 1])

In [34]:
test_preds

array([1, 0, 1, ..., 0, 1, 1])

In [35]:
from sklearn.metrics import mean_squared_error

In [38]:
mean_squared_error(test_target, test_preds, squared=False)

0.12239801227242092